target
.env
.ash_history
.bash_history
.yarn
.cache
packagecloud.key
coverage
packages/*/yarn.lock
*.log
.idea
.iml
/node_modules/
/.build/
/.serverless/
/_warmup/
/certs/*.pem
.serverlessrc
.npm
.config
dist
